<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1> {{ pk }}</h1>
    <table border="1">
        <tr>
            <td>#</td>
            <td>Name</td>
            <td>Birth date</td>
            <td>Country</td>
            <td>Operation</td>
        </tr>    
        {% for author in object_list %}
        <tr>
            <td>{{ author.pk }}</td>
            <td><a href="{% url 'author-detail-cbv' author.pk %}">{{ author.name }}</a></td>
            <td>{{ author.birth_date }}</td>
            <td>{{ author.country }}</td> 
            <td><a href="{% url 'author-delete-cbv' author.pk %}">Удалить</a></td>    
            <td><a href="{% url 'author-update-cbv' author.pk %}">Обновить</a></td>   
        {% endfor %}
    </table>
    <a href = "{% url 'author-create-cbv' %}">Добавить автора</a>
</body>
</html>