<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1></h1>
    <table border="1">
        <tr>
            <td>#</td>
            <td>Имя</td>
            <td>Орерации</td>
            </tr>    
        {% for genre in object_list %}
        <tr>
            <td>{{ genre.pk }}</td>
            <td><a href="{% url 'genre-detail' genre.pk %}">{{ genre.name }}</a></td>
            <td><a href="{% url 'genre-delete' genre.pk %}">Удалить</a>    
                <a href="{% url 'genre-update' genre.pk %}">Обновить</a></td>   
        {% endfor %}
    </table>
    <a href = "{% url 'genre-create' %}">Добавить жанр</a>
</body>
</html>