<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1></h1>
    <table border="1">
        <tr>
            <td>#</td>
            <td>Имя</td>
            <td>Орерации</td>
            </tr>    
        {% for publishing in object_list %}
        <tr>
            <td>{{ publishing.pk }}</td>
            <td><a href="{% url 'publishing-detail' publishing.pk %}">{{ publishing.name }}</a></td>
            <td><a href="{% url 'publishing-delete' publishing.pk %}">Удалить</a>    
                <a href="{% url 'publishing-update' publishing.pk %}">Обновить</a></td>   
        {% endfor %}
    </table>
    <a href = "{% url 'publishing-create' %}">Добавить издательство</a>
</body>
</html>