<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1></h1>
    <table border="1">
        <tr>
            <td>#</td>
            <td>Имя</td>
            <td>Орерации</td>
            </tr>    
        {% for serie in object_list %}
        <tr>
            <td>{{ serie.pk }}</td>
            <td><a href="{% url 'series-detail' serie.pk %}">{{ serie.name }}</a></td>
            <td><a href="{% url 'series-delete' serie.pk %}">Удалить</a>    
                <a href="{% url 'series-update' serie.pk %}">Обновить</a></td>   
        {% endfor %}
    </table>
    <a href = "{% url 'series-create' %}">Добавить серию</a>
</body>
</html>