<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>{{ pk }}</h1>
    <table border="1">
        <tr>
            <td>#</td>
            <td>Name</td>
            <td>Birth date</td>
            <td>Country</td>
        </tr>    
        {% for author in authors %}
        <tr>
            <td>{{ author.pk }}</td>
            <td><a href="/authors/{{ author.pk }}/">{{ author.name }}</a></td>
            <td>{{ author.birth_date }}</td>
            <td>{{ author.country }}</td>
        </tr>
        {% endfor %}
    </body>
</html>