{% extends "base.html" %}

{% block title %} Все книги {% endblock title %}

{% block main_content %}
{% for book in object_list %}

<!-- {{ book.image.url }} -->
<img src="{{ book.image.url }}">
Название книги: {{book.name}}</br>
Цена (BYN): {{book.price}}</br>
Автор: {{book.author}}</br>
Серия: {{book.serie}}</br>
Жанр: {{book.genre}}</br>
Год издания: {{book.year}}</br>
Количество страниц: {{book.page}}</br>
Переплет: {{book.binding}}</br>
Формат: {{book.format}}</br>
ISBN: {{book.isbn}}</br>
Вес, гр: {{book.weight}}</br>
Возрастные ограничения: {{book.age_restr}}</br>
Издательство: {{book.publishing}}</br>
В наличии, шт: {{book.stock}}</br>
Доступно для заказа: {{book.available}}</br>
Рейтинг (0-10): {{book.rating}}</br>






        
{% endfor %}

{% endblock main_content %}