{% extends "base.html" %}

{% block title %} Все книги {% endblock title %}

{% block main_content %}
<div class="container">
    <div class="row">
      <h1>{{book.name}}, {{book.author}}</h1>
      <div class="col-sm">
        <img src="{{ book.image.url }}">
      </div>
      <div class="col-sm">
        Жанр: {{book.genre}}</br>
        Серия: {{book.serie}}</br>
        Год издания: {{book.year}}</br>
        Количество страниц: {{book.page}}</br>
        Цена (BYN): {{book.price}}</br>
        Возрастные ограничения: {{book.age_restr}}</br>
        Рейтинг (0-10): {{book.rating}}</br>
        </div>
      <div class="col-sm">
        Переплет: {{book.binding}}</br>
        Формат: {{book.format}}</br>
        ISBN: {{book.isbn}}</br>
        Вес, гр: {{book.weight}}</br>
        Издательство: {{book.publishing}}</br>
        В наличии, шт: {{book.stock}}</br>
        Доступно для заказа: {{book.available}}</br>
        </div>    
    </div>
    <a href="#">
    <div class="d-grid gap-2"></br>
        <button class="btn btn-outline-primary">Добавить в корзину</button></br>
    </div>
    </a>
      </div>
       
{% endblock main_content %}

