{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block title %} Все книги {% endblock title %}

{% block main_content %}
<!-- <div class="col-3">
<form action="{{current_url}}" method="get">
{{search_form|crispy}}
</form> -->
</div>
<nav aria-label="Page navigation example">
  <ul class="pagination justify-content-end">
    {% if page_obj.has_previous %}
    <li class="page-item"><a class="page-link" href="?page={{ page_obj.previous_page_number }}" aria-label="Previous">
      <span aria-hidden="true">&laquo;</span>
    </a>
  </li>
    {% endif %}
    <li class="page-item"><a class="page-link" href="?page=1">1</a></li>
    <li class="page-item"><a class="page-link" href="?page=2">2</a></li>
    <li class="page-item"><a class="page-link" href="?page=3">3</a></li>
    {% if page_obj.has_next %}
    <li class="page-item"><a class="page-link" href="?page={{ page_obj.next_page_number }}" aria-label="Next">
      <span aria-hidden="true">&raquo;</span>
    </a>
  </li>
    {% endif %}
    <li class="page-item disabled">
      <a class="page-link" href="#" tabindex="-1" aria-disabled="true">Страница {{ page_obj.number }} из {{ page_obj.paginator.num_pages }}</a>
    </li>
    </ul>
</nav>


<div class="container">
    {% for book in object_list %}
    <div class="row">
       
      <div class="col-sm">
        <img src="{{ book.image.url }}">
      </div>
      <div class="col-sm">
        Название книги: {{book.name}}</br>
        Автор: {{book.author}}</br>
        Жанр: {{book.genre}}</br>
        Серия: {{book.serie}}</br>
        Год издания: {{book.year}}</br>
        Количество страниц: {{book.page}}</br>
        Цена (BYN): {{book.price}}</br>
        Возрастные ограничения: {{book.age_restr}}</br>
        </div>
      <div class="col-sm">
        Переплет: {{book.binding}}</br>
        Формат: {{book.format}}</br>
        ISBN: {{book.isbn}}</br>
        Вес, гр: {{book.weight}}</br>
        Издательство: {{book.publishing}}</br>
        В наличии, шт: {{book.stock}}</br>
        Доступно для заказа: {{book.available}}</br>
        Рейтинг (0-10): {{book.rating}}</br>
      </div>    
    </div>
    <a href="#">
    <div class="d-grid gap-2"></br>
        <button class="btn btn-outline-primary">Добавить в корзину</button></br>
    </div>
    </a>
    {% endfor %}
  </div>
       
{% endblock main_content %}

