{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block title %} Оформление заказа {% endblock title %}
{% block main_content %}
 
<h2>Оформление заказа </h2></br>


{% for item in object.cart.goods.all %}
Книга <b>{{item.book.name}}</b>, {{item.quantity}} шт., {{item.price}} руб. </br>
{% endfor %}
</br>
<h5>Сумма заказа: {{object.summ}} руб.</h5></br>

</br>
<div class="col-5">
<form action="" method="POST">
    {% csrf_token %}
        {{form|crispy}}</br>

</div>
<button type="submit" class="btn btn-outline-primary" name = "btn" value = "Accept">Подтвердить заказ</button>
</form>


   

{% endblock main_content %}
