{% extends "base.html" %}

{% block title %} Заказ  {% endblock title %}
{% block main_content %}

    <h3> Заказ № {{ object.pk }}</h3></br></br>

    Адрес доставки: <b>{{ object.address }}</b></br>
    Телефон: <b>{{ object.address }}</b></br>
    Контактное лицо: <b>{{ object.contact }}</b></br>
    Комментарий: <b>{{ object.comment }}</b></br>

    {% for item in object.cart.goods.all %}</b></br>
    <b>Книга: {{item.book.name}} &#160 &#160 &#160 Количество: {{item.quantity}} шт. &#160 &#160 &#160 Цена: {{item.price}} руб.</b> </br></br>
    {% endfor %}

    <h5>Сумма заказа: {{object.summ}} руб.</h5></br>
    </br>
    <a href="{% url 'orders:customer-order-list' %}" class="btn btn-outline-primary">Назад к списку заказов</a>
{% endblock main_content %}

